n8n/workflows/high-risk-order-alert.json
{
  "name": "High-Risk Order Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-order",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "mpc-new-order"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:8000/api/v1/orders/{{ $json.body.order_id }}/evaluate",
        "options": {
          "timeout": 30000
        }
      },
      "id": "1a2b3c4d-0002-0002-0002-000000000002",
      "name": "POST /orders/{id}/evaluate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.delay_probability }}",
              "rightValue": 0.7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1a2b3c4d-0003-0003-0003-000000000003",
      "name": "delay_probability >= 0.70?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/webhooks/order-released",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ data: { order_id: $('Webhook Trigger').item.json.body.order_id, order_number: $('Webhook Trigger').item.json.body.order_number ?? 'unknown', delay_probability: $json.delay_probability, root_cause: $json.root_cause, confidence: $json.confidence, narrative: $json.narrative, top_risk_factors: $json.top_risk_factors } }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "1a2b3c4d-0004-0004-0004-000000000004",
      "name": "POST /webhooks/order-released",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'accepted', order_id: $('Webhook Trigger').item.json.body.order_id, delay_probability: $('POST /orders/{id}/evaluate').item.json.delay_probability, alert_triggered: false }) }}",
        "options": {}
      },
      "id": "1a2b3c4d-0005-0005-0005-000000000005",
      "name": "Respond: below threshold",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'accepted', order_id: $('Webhook Trigger').item.json.body.order_id, delay_probability: $('POST /orders/{id}/evaluate').item.json.delay_probability, alert_triggered: true }) }}",
        "options": {}
      },
      "id": "1a2b3c4d-0006-0006-0006-000000000006",
      "name": "Respond: alert fired",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 200]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "POST /orders/{id}/evaluate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /orders/{id}/evaluate": {
      "main": [
        [
          {
            "node": "delay_probability >= 0.70?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delay_probability >= 0.70?": {
      "main": [
        [
          {
            "node": "POST /webhooks/order-released",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: below threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /webhooks/order-released": {
      "main": [
        [
          {
            "node": "Respond: alert fired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-13T00:00:00.000Z",
  "versionId": "2"
}
